<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thuanthanh.lichviet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".fragment.SuKienFragment"></activity>
        <activity
            android:name=".activity.VietSuKienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SuKienActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".activity.Tuvi2019Activity"></activity>


        <activity
            android:name=".activity.MonthViewActivity"
            android:theme="@style/AppThemeNoBar">

        </activity>


        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>